Posts table

|Column|Desc|
|---|---|
|Id| An identification number for the post.|
|PostTypeId| An identification number for the type of post.|
|CreationDate| The date and time of creation of the post.|
|Score| The post's score.|
|ViewCount| How many times the post was viewed.|
|Tags| What tags were used.|
|AnswerCount| How many answers the question got (only applicable to question posts).|
|FavoriteCount| How many times the question was favored (only applicable to question posts).|

In [13]:
import pandas as pd
import numpy as np

In [2]:
ls

Volume in drive C has no label.
 Volume Serial Number is E070-DF93

 Directory of c:\Users\Dan\Code\SQL\sql_tsql

22/03/2020  01:31 AM    <DIR>          .
22/03/2020  01:31 AM    <DIR>          ..
21/03/2020  06:23 PM             1,307 .gitignore
21/03/2020  08:45 PM    <DIR>          .ipynb_checkpoints
21/03/2020  08:43 PM        21,782,673 QueryResults.csv
21/03/2020  08:45 PM               438 README.md
22/03/2020  01:31 AM            17,827 Workbook.ipynb
               4 File(s)     21,802,245 bytes
               3 Dir(s)  68,125,847,552 bytes free

In [3]:
df = pd.read_csv('QueryResults.csv',parse_dates=['CreationDate','DeletionDate','LastEditDate','LastActivityDate'])

In [4]:
df.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,DeletionDate,Score,ViewCount,Body,OwnerUserId,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,54432,1,NaN,NaN,2019-06-25 06:46:58,NaT,0,44.0,<p>I want to create a model to infer the behav...,66758.0,...,NaN,2019-06-26 13:25:35,2019-06-26 13:25:36,Inferring latent variable distribution from bi...,<neural-network><classification><regression>,0.0,4,NaN,NaN,NaN
1,54433,1,NaN,NaN,2019-06-25 07:04:37,NaT,1,38.0,<p>I was wondering if there are any rules rega...,76617.0,...,NaN,NaT,2019-06-25 08:31:18,Are there any rules regarding correlation betw...,<neural-network><predictive-modeling><correlat...,1.0,1,NaN,NaN,NaN
2,54434,2,NaN,54427.0,2019-06-25 07:10:30,NaT,1,NaN,<p>You haven't specified what happens for valu...,51280.0,...,NaN,NaT,2019-06-25 07:10:30,NaN,NaN,NaN,0,NaN,NaN,NaN
3,54435,2,NaN,54401.0,2019-06-25 07:11:14,NaT,0,NaN,<p>I think this approach should work. So we ne...,68023.0,...,NaN,NaT,2019-06-25 07:11:14,NaN,NaN,NaN,0,NaN,NaN,NaN
4,54436,1,54505.0,NaN,2019-06-25 07:29:41,NaT,0,1885.0,"<pre class=""lang-py prettyprint-override""><cod...",76521.0,...,NaN,2019-06-25 13:51:50,2019-06-26 00:25:12,ValueError: pos_label=1 is not a valid label: ...,<machine-learning><python><data><data-analysis...,1.0,0,NaN,NaN,NaN

In [5]:
df.isna().sum()

Id                           0
PostTypeId                   0
AcceptedAnswerId         14350
ParentId                  8758
CreationDate                 0
DeletionDate             16534
Score                        0
ViewCount                 7966
Body                        59
OwnerUserId                 61
OwnerDisplayName         16452
LastEditorUserId         11126
LastEditorDisplayName    16517
LastEditDate             11110
LastActivityDate             0
Title                     7966
Tags                      7966
AnswerCount               7966
CommentCount                 0
FavoriteCount            15075
ClosedDate               16214
CommunityOwnedDate       16509
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16534 entries, 0 to 16533
Data columns (total 22 columns):
Id                       16534 non-null int64
PostTypeId               16534 non-null int64
AcceptedAnswerId         2184 non-null float64
ParentId                 7776 non-null float64
CreationDate             16534 non-null datetime64[ns]
DeletionDate             0 non-null datetime64[ns]
Score                    16534 non-null int64
ViewCount                8568 non-null float64
Body                     16475 non-null object
OwnerUserId              16473 non-null float64
OwnerDisplayName         82 non-null object
LastEditorUserId         5408 non-null float64
LastEditorDisplayName    17 non-null object
LastEditDate             5424 non-null datetime64[ns]
LastActivityDate         16534 non-null datetime64[ns]
Title                    8568 non-null object
Tags                     8568 non-null object
AnswerCount              8568 non-null float64
CommentCount             16534 non-null int64
FavoriteCount            1459 non-null float64
ClosedDate               320 non-null object
CommunityOwnedDate       25 non-null object
dtypes: datetime64[ns](4), float64(7), int64(4), object(7)
memory usage: 2.8+ MB

In [7]:
df.Tags.unique()

array(['<neural-network><classification><regression>',
       '<neural-network><predictive-modeling><correlation>', nan, ...,
       '<deep-learning><lstm><rnn><recurrent-neural-net>',
       '<data-cleaning><sql>',
       '<regression><linear-regression><feature-engineering>'],
      dtype=object)

In [8]:
df.Tags = df.Tags.str.replace('><',',').str.replace('<','').str.replace('>','')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16534 entries, 0 to 16533
Data columns (total 22 columns):
Id                       16534 non-null int64
PostTypeId               16534 non-null int64
AcceptedAnswerId         2184 non-null float64
ParentId                 7776 non-null float64
CreationDate             16534 non-null datetime64[ns]
DeletionDate             0 non-null datetime64[ns]
Score                    16534 non-null int64
ViewCount                8568 non-null float64
Body                     16475 non-null object
OwnerUserId              16473 non-null float64
OwnerDisplayName         82 non-null object
LastEditorUserId         5408 non-null float64
LastEditorDisplayName    17 non-null object
LastEditDate             5424 non-null datetime64[ns]
LastActivityDate         16534 non-null datetime64[ns]
Title                    8568 non-null object
Tags                     8568 non-null object
AnswerCount              8568 non-null float64
CommentCount             16534 non-null int64
FavoriteCount            1459 non-null float64
ClosedDate               320 non-null object
CommunityOwnedDate       25 non-null object
dtypes: datetime64[ns](4), float64(7), int64(4), object(7)
memory usage: 2.8+ MB

In [41]:
df.ViewCount = df.ViewCount.fillna(0)
df.ViewCount = df.ViewCount.astype('int')
df.AnswerCount = df.ViewCount.fillna(0)
df.AnswerCount = df.ViewCount.astype('int')
df.FavoriteCount = df.ViewCount.fillna(0)
df.FavoriteCount = df.ViewCount.astype('int')

In [34]:
# df.ViewCount[df.ViewCount.isna() == False] = df.ViewCount[df.ViewCount.isna() == False].astype('int')

## Drop NA

In [71]:
df.Tags[df.Tags.isnull()].unique()

array([nan], dtype=object)

In [73]:
df.Tags.dropna(inplace=True)

## Count how many times each tag was used.

In [87]:
tags = []
for i in df.Tags.tolist():
    i = i.split(",")
    tags += i

In [95]:
tags_dict = {}
for i in tags:
    if i not in tags_dict:
        tags_dict[i] = 1
    else:
        tags_dict[i] += 1

In [120]:
df_tags_count = pd.DataFrame.from_dict(tags_dict,orient='index').reset_index()

In [121]:
df_tags_count.rename(index=str,columns={'index':'tag',0:'count'},inplace=True)

In [125]:
df_tags_count.sort_values('count',ascending=False).head(10)

                 tag  count
5   machine-learning   2621
6             python   1766
10     deep-learning   1173
0     neural-network   1032
16             keras    913
1     classification    666
17        tensorflow    569
46      scikit-learn    527
34               nlp    480
13               cnn    475

## Count how many times each tag was viewed.

In [146]:
df[['Tags','ViewCount']].head()

                                                Tags  ViewCount
0           neural-network,classification,regression         44
1     neural-network,predictive-modeling,correlation         38
2                                                NaN          0
3                                                NaN          0
4  machine-learning,python,data,data-analysis,ana...       1885

In [147]:
df[['Tags','ViewCount']].dropna(inplace=True)

In [164]:
df_tags_view = df[df['ViewCount'] != 0][['Tags','ViewCount']]

In [165]:
df_tags_view.head()

                                                Tags  ViewCount
0           neural-network,classification,regression         44
1     neural-network,predictive-modeling,correlation         38
4  machine-learning,python,data,data-analysis,ana...       1885
5  machine-learning,neural-network,deep-learning,...         15
7                               machine-learning,cnn         69

In [214]:
tags_list_dict = []
for n,v in df_tags_view.iterrows():
    tags_list = v['Tags'].split(",")
    for tag in tags_list:
        tags_dict2 = {}
        tags_dict2[tag] = v['ViewCount']
        tags_list_dict.append(tags_dict2)

In [216]:
tags_views_sum = {}
for i in tags_list_dict:
    for k,v in i.items():
        if k not in tags_views_sum:
            tags_views_sum[k] = v
        else:
            tags_views_sum[k] += v

In [226]:
df_tags_views = pd.DataFrame.from_dict(tags_views_sum,orient='index').reset_index()
df_tags_views.rename(columns={'index':'tag',0:'views'},inplace=True)

In [229]:
df_tags_views.sort_values('views',ascending=False).head(10)

                 tag   views
6             python  765760
5   machine-learning  521118
16             keras  363772
36            pandas  314896
10     deep-learning  309666
0     neural-network  250725
46      scikit-learn  178536
17        tensorflow  169772
1     classification  138442
63         dataframe  129344